<div class="container">
  <mat-card class="login-card">
    <button mat-button class="back-button" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <mat-card-header class="header">
      <mat-card-title style="margin-bottom: 2.5rem">
        <h1>Connect to your account 🚀</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <form [formGroup]="login" class="form">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
        <span>
          <button
            class="form-button"
            mat-raised-button
            (click)="onClickLogin()"
          >
            GO ! 🎮
          </button>
        </span>
      </form>
    </mat-card-content>
    <mat-card-footer class="footer">
      <a href="/signup">I don't have an account 😥</a>
    </mat-card-footer>
  </mat-card>
  <div class="spinner-container" *ngIf="prefsService.getIsLoading()">
    <mat-spinner></mat-spinner>
  </div>
</div>
