<div class="container">
  <div class="nav-left">
    <button type="button" [matMenuTriggerFor]="settingsMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <button type="button" (click)="wordleList()">
      <mat-icon>calendar_today</mat-icon>
    </button>
    <mat-menu #settingsMenu>
      <menu *ngIf="timestamp != undefined" mat-menu-item (click)="infinite()">Infinite mode</menu>
      <menu *ngIf="timestamp == undefined" mat-menu-item (click)="home()">Daily wordle</menu>
      <menu *ngIf="timestamp != undefined" mat-menu-item (click)="scores()">Scores</menu>
    </mat-menu>
  </div>
  <div class="nav-center">
    <h1>FIND-YOUR-WORD</h1>
  </div>
  <div class="nav-right">
    <button>
      <span *ngIf="lang === 'fr'" (click)="onLangClick()" class="fi fi-fr fis"></span>
      <span *ngIf="lang === 'en'" (click)="onLangClick()" class="fi fi-gb fis"></span>
    </button>
    <button type="button" [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu>
      <menu mat-menu-item *ngIf="!isLogged" (click)="login()">Login</menu>
      <menu mat-menu-item *ngIf="isLogged" (click)="goToAccount()">Account</menu>
      <menu mat-menu-item *ngIf="isLogged" (click)="logout()">Logout</menu>
    </mat-menu>
    <p *ngIf="!isLogged">Not Logged</p>
    <p *ngIf="isLogged">{{prefsService.getUser().username}}</p>
  </div>
</div>