.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0 0;
  margin: 0 auto;
  max-width: 580px;
  color: #fff;
  h1 {
    font-family: "Brice", sans-serif;
  }
  .nav-left {
    display: flex;
    place-items: center;
    button {
      display: flex;
      place-items: center;
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .nav-center {
    display: flex;
    place-items: center;
    h1 {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
  .nav-right {
    display: flex;
    place-items: center;
    vertical-align: middle;
    button {
      display: flex;
      place-items: center;
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    .logged-p {
      margin: 0;
    }
    .separator {
      margin: 0 0.5rem;
      display: flex;
      place-items: center;
      flex-direction: column;
    }
  }
}
