<div class="container">
  <app-nav [timestamp]="wordleTimestamp"></app-nav>
  <div class="content">
    <h1 class="leaderboard-title">Leaderboard 😎</h1>

    <!-- <mat-card *ngFor="let score of scores"
      >{{ score.username }} : {{ score.tries }} tries</mat-card
    >
    <mat-card *ngIf="scores.length == 0"
      >Nobody has complete this daily wordle
    </mat-card>

    <h1 class="leaderboard-title">Personal Score 🤓</h1>

    <mat-card *ngIf="personalScore"
      >{{ personalScore.username }} : {{ personalScore.tries }} tries</mat-card
    >
    <mat-card *ngIf="personalScore == undefined"
      >You have not played to this daily wordle</mat-card
    > -->

    <ul class="leaderboard-list" *ngIf="scores.length > 0" class="leaderboard-list">
      <li *ngFor="let score of scores" class="leaderboard-item">
        <h3 class="leaderboard-name">{{ score.username }}</h3>
        <p class="leaderboard-score">{{ score.tries }} tries</p>
      </li>
    </ul>

    <mat-card class="leaderboard-list" *ngIf="scores.length == 0">
      <li class="leaderboard-item">
        <h3 class="leaderboard-name">Nobody has complete this daily wordle</h3>
      </li>

    </mat-card>

    <h1 class="leaderboard-title">Personal Score 🤓</h1>

    <ul class="leaderboard-list" *ngIf="personalScore" class="leaderboard-list">
      <li class="leaderboard-item">
        <h3 class="leaderboard-name">{{ personalScore.username }}</h3>
        <p class="leaderboard-score">{{ personalScore.tries }} tries</p>
      </li>
    </ul>

    <mat-card class="leaderboard-list" *ngIf="personalScore == undefined">
      <li class="leaderboard-item">
        <h3 class="leaderboard-name">You have not played to this daily wordle</h3>
      </li>
    </mat-card>
  </div>
</div>

<div class="spinner-container" *ngIf="prefsService.getIsLoading()">
  <mat-spinner></mat-spinner>
</div>