<div class="container">
  <app-nav [timestamp]="wordleTimestamp"></app-nav>

  <div class="game">
    <div class="board_game">
      <h1 class="date">{{wordleDate}}</h1>
      <div class="row_board_game" *ngFor="let row of gameMatrix; let indexRow = index">
        <div id="boxRow{{indexRow}}Col{{indexCol}}" class="box" *ngFor="let letter of row; let indexCol = index">{{
          letter }}</div>
      </div>
    </div>

    <div class="keyboard">
      <div class="keyboard-row" *ngFor="let row of keyboard">
        <div id="{{key}}" class="keyboard-key" (click)="onClickKeyboard(key)" *ngFor="let key of row">{{ key }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner-container" *ngIf="prefsService.getIsLoading()">
  <mat-spinner></mat-spinner>
</div>