.game {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .board_game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    -webkit-box-flex: 1;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    .row_board_game {
      display: flex;
      justify-content: center;
      .box {
        background-color: #383a3e;
        border: 2px solid white;
        border-radius: 15%;
        margin: 0.5em;
        padding: 0.2em;
        width: 30px;
        height: 30px;
        text-align: center;
        color: white;
      }
    }
  }

  .keyboard {
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;

    .keyboard-row {
      display: flex;
      flex-direction: row;
      .keyboard-key {
        background-color: gray;
        color: white;
        border-radius: 15%;
        display: flex;
        flex: 1 1;
        justify-content: center;
        margin: 0.1em;
        padding: 0.3em;
      }
    }
  } 
}
